body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    padding: 2% 1%;
    width: 98%;
}

nav h1 {
    font-size: 25px;
    float: left;
}

nav li {
    display: inline-block;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav a {
    text-decoration: none;
    color: #2f2f2f;
    margin-left: 5px;
    font-size: .75em;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

main {
    background-image: url(../img/wine-bg.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

main > div {
    background-color: rgba(0,0,0,.8);
    padding: 200px 0;
}

main h2 {
    font-size: 60px;
    padding-bottom: 80px;
    }

#italic {
    font-style: italic;
}

.two_boxes {
    width: 100%;
    text-align: center;
}

.two_boxes div {
    float: left;
}

.two_boxes div:first-child {
    width: 60%;
}

.two_boxes div:nth-child(2) {
    width: 40%;
}

.two_boxes img {
    width: 70%;
    margin-left: 15%;
}

h4 {
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
}

.two_boxes h4 {
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.two_boxes div:first-child {
    padding-top: 150px;
    
}

.two_boxes div p {
    padding-left: 40px;
    padding-right: 60px;
    }

.mid_box {
    background-image: url(../img/wine13.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

.mid_box div {
    background-color: rgba(0,0,0,.8);
    padding: 150px 0;
}

.mid_box p {
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 40px;
/*    font-size: 14px;*/
}

.winesquares {
    float: left;
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: center;
}

.winesquares img {
    max-width: 100px;
}

.winesquares a {
    text-decoration: none;
    background-color: #93A25C;
    color: white;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
}

.winesquares p {
    margin-bottom: 15px;
    padding-left: 25px;
    font-size: 14px;
}

.three_boxes {
    margin-bottom: 50px;
}