html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-family: Helvetica Myriad Arial;
    color: #404040;
    overflow: auto;

    }

main {
    margin: auto;
    width: 690px;
}

#left {
    width: 350px;
    height: 300px;
    background-color: #bfbfbf;
    float: left;
    margin-right: 20px;
    padding-right: 300px solid white;
    
}

#left img {
    width: 300px;
    margin-top: 7px;
    margin-left: 7px;
}

#right {
    width: 320px;
    height: 300px;
    float: left;
    margin-top: -13px;
    
}

.buttonbox {
    height: 90px;
    width: 45%;
    background-color: #bfbfbf;
    margin-bottom: 15px;
    margin-left: 380px;
}

.buttonbox img {
    float: left;
    width: 120px;
    margin-top: 10px;
    margin-right: 7px;
}

footer {
    clear: both;
    background-color: #bfbfbf;
    margin-top: 30px;
    border-top: 1px #595959 solid;
    border-bottom: 1px #595959 solid;
}

.lowbox {
    float: left;
    width: 33.33%;
    padding-top: 10px;
    padding-bottom: 10px;
    }

h2 {
    font-size: 1em;
}

p {
    font-size: .9em;
}

ul {
    list-style-image: url(http://d1ylr6sba64qi3.cloudfront.net/global/assets/images/icons/green_checkmark_small.gif);
    padding-bottom: 0px;
}
li {
    font-size: .9em;
    padding-bottom: 0px;
    }

h1 {
    font-size: 1.5em;
    }

header {
    text-align: center;
    width: 690px;
}

a {
    color: #00e600;
    text-align: right;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.buttonbox h2 {
    padding-top: 5px;
    padding-bottom: 2px;
    }

#left h2 {
    padding-left: 7px;
}

#left p {
    padding-left: 7px;
}
#left a {
    padding-left: 260px;
}

.lowbox a {
    padding-left: 120px;
}

.lowbox h2 {
    padding-left: 7px;
}

/*

div, section {
    outline: 2px solid red
}
*/



