<!DOCTYPE html>
<html>

<head>

    <title>Template</title>
    <!--Reset-->
    <link href="css/css-reset.css" rel="stylesheet" type="text/css">
    <!-- my custom styles -->
    <link rel="stylesheet" href="css/style.css" type="text/css"> 
    <!--media query -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>


</body>


</html>


.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}