header{ 
    background-color: #0171c5;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px; 
}

header > h1 {
    color: white;
    font-weight: normal;
    padding-left: 10px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

nav > a {
    color: white;
    font-weight: normal;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    }

 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-left: 10px;
}

 p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-left: 10px;
    
}

h3 { 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-left: 10px;
}

#left {
    float: left;
    width: 50%;
    padding-top: 60px;
    padding-bottom: 40px;
}

#right {
    float: right;
    width: 50%;
}

#support {
    background-color: #f3f3f3;
    clear: both;
    padding-top: 20px;
    padding-bottom: 10px;
}

#bottom{
    padding-left: 0px;
}

#bottom_left {
    float: left;
    width: 50%;
}

#bottom_right {
    float: right;
    width: 50%;
    padding-top: 60px;
    padding-bottom: 40px;

}

#bottom_right > p {
    padding-left: 2px;
}

#bottom_right > h3 {
    padding-left: 2px;
}

#bottom_left > img {
   width: 100% 
}