.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

h1, h2, h3, h4, a, p, li {
    font-family: 'Montserrat', sans-serif;
}

nav {
    padding: 2% 1%;
    width: 98%;
    }

nav h1 {
    font-size: 35px;
    float: left;
}

nav li {
    display: inline-block;
    text-decoration: none;
}

nav ul {
    float: right;
}

nav a {
    text-decoration: none;
    color: #2f2f2f;
    margin-left: 7px;
    font-size: 13px;
}

main {
    background-image: url(../img/camera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 5px center;
    text-align: center;
    color: white;
    padding-bottom: 100px;
    margin-bottom: 40px;
    margin-left: -5px;
}

main > div {
    background-color: rgba(0,0,0,.6);
    background-size: cover;
    margin-bottom: -100px;
    padding-bottom: 110px;
    }

h2 {
    font-size: 70px;
    padding-top: 100px;
}

main h3 {
    font-size: 35px;
    padding-bottom: 40px;
}

main a {
    text-decoration:none;
    border: 3px solid white;
    padding: 10px;
    font-size 16px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
}

.one_piece img {
    width: 300px;
}

.one_piece div {
    float: left;
}

.one_piece h3 {
    font-size: 35px;
    padding-bottom: 20px;
    text-align: center;
}

.one_piece {
    margin-bottom: 30px;
    
}

#pic {
    width: 30%;
    text-align: center;
}

#words {
    width: 60%;
    padding-left: 40px;
    }

.four_piece img {
    max-width: 150px;
    padding-top: 25px;
}

.four_piece {
    background-color: lightgray;
}

.column {
    float: left;
    width: 24%;
    padding-left: 1%;
    text-align: center;
}

.column p {
    font-size: 12px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 15px;
}

.column img {
    margin-bottom: 15px;
}

iframe {
    float: left;
    width: 50%;
}